:root{
    --principal-color: #090808;
    --accent-color: #FF0000;
    --text-color: #F9F6EE;
    --secondary-color: #2b2b2b;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "Merriweather";
    src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
  }

  main{
    font-family: Raleway;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  h1{
    font-size: 1.8em;
    padding-top: 20px;
  }

  figcaption{
    font-size: 0.7em;
  }

  div:nth-child(2){
    padding: 0 10px;
  }

  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2{
    font-size: 1.4em;
    font-family: Raleway;
    padding: 30px 0;
  }

  p{
    font-size: 1.25em;
    font-family: Merriweather;
    line-height: 1.45em;
  }

  img[alt="like"]{
    width: 25px;
  }

  img[alt="bugatti-tourbillon"]{
    width: 390px;
    border-radius: 10px;
  }

  section{
    margin: 20px;
  }