:root{
    --principal-color: #090808;
    --accent-color: #FF0000;
    --text-color: #F9F6EE;
    --secondary-color: #2b2b2b;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .links{
    color: var(--text-color);
  }
  
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--principal-color);
    font-family: "Raleway";
  }
  
  header img{
    width: 200px;
  }
  
  img[alt="menu"]{
    width: 40px;
    margin-right: 20px;
    object-fit:contain;
  }
  
  header nav{
    display: none;
    text-align: center; 
    height: 100%;
    width: 70%;
    position: fixed;
    border-radius: 10px;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--secondary-color);
  }
  
  .nav-visible{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #btn-menu, #btn-close{
    cursor: pointer;
  }
  
  #btn-close{
    position: fixed;
    right: 0;
    padding: 15px 20px;
    width: fit-content;
    transform: translateX(15%);
  }
  
  #btn-close img{
    width: 50px;
  }
  
  header nav ul{
    list-style: none;
    padding-top: 80px;
    
  }
  
  header nav ul li{
    padding: 10px;
  
  }
  
  header nav ul li a{
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
  }
  
  header nav ul li a:hover{
    color: var(--accent-color);
    font-weight: bold;
  }
  
  header nav ul li:last-child{
    padding-bottom: 60px;
  }
  
  header button{
    padding: 10px 50px;
    border: solid;
    border-radius: 10px;
    background-color: var(--accent-color);
    cursor: pointer;
  }
  
  header button a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3em;
  }
  
  img[alt="logo-menu"]{
   padding-top: 60px;
  }

  img[alt="logo"]:hover, img[alt="logo-menu"]:hover{
    cursor: pointer;
  }
  
  header nav div{
    text-align: center;
  }
  
  img[alt="lupa"]{
    display: none;
    cursor: pointer;
  }

  footer{
    width: 100%;
    display: flex;
    justify-content:flex-end ;
    flex-direction: column;
    background-color: var(--principal-color);
    font-family: "Raleway";
  }
  
  footer div img{
    width: 60px;
    transform: translateX(30%); 
    cursor: pointer;
  }
  
  footer nav ul{
    list-style: none;
  }
  
  #nav-footer{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 5px;
    width: 100%;
  }
  
  #nav-footer nav ul li{
    display: block;
  }
  
  #nav-footer nav{
    padding-bottom: 20px;
  }
  
  footer div{
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }
  
  footer hr{
    border-color: var(--secondary-color);
  }
  
  footer div ul li{
    padding-right: 10px;
    padding-top: 10px;
  }
  
  footer div ul li a{
    text-decoration: none;
    font-size: 0.8em;
    cursor: pointer;
  }

  #footer-terms ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #footer-terms a{
    font-size: 0.7em;
  }
  
  footer div+div{
    width: 100%;
    padding-top: 15px;
    color: var(--text-color);
  }
  
  #copy p{
    font-size: 0.7em;
  }

  @media (min-width: 1025px){

    header{
      justify-content: space-evenly;
      align-items: center;
    }

    header nav{
      display: flex;
      align-items: center;
      gap: 40px;
      width: 40%;
      position: initial;
      background-color: transparent;
    }

    header img{
      width: 300px;
    }

    header nav ul li, header nav ul li:last-child{
      padding: 0;
    }

    header nav ul{
      padding: 0;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  
    header nav ul li a{
      font-size: 1.3em;
    }

    img[alt="lupa"]{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 27px;
    }
  
    #btn-menu, #btn-close{
      display: none;
    }
  
    img[alt="logo-menu"]{
      display: none;
    }   

    footer div ul li a{
        text-decoration: none;
        font-size: 0.em;
    }
    
    #copy p{
      font-size: 0.9em;
    }
    
    footer img{
      margin-left: 200px;
      width: 100px;
    }
  }

@media (min-width: 577px) and (max-width: 1024px){

  header nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 50%;
    position: initial;
    background-color: transparent;
  }

  header img{
    width: 250px;
    object-fit: contain;
  }

  header nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  header nav ul, header nav ul li, header nav ul li:last-child{
    padding: 0;
  }

  header nav ul li a{
    font-size: 1.3em;
  }

  img[alt="lupa"]{
    display: initial;
    width:27px;
    margin-right: 20px;
  }

  #btn-menu, #btn-close{
    display: none;
  }

  img[alt="logo-menu"]{
    display: none;
  }

  #nav-footer a{
    font-size: 0.8em;
  }

  #footer-terms a{
    font-size: 0.7em;
  }
}