:root{
  --principal-color: #090808;
  --accent-color: #FF0000;
  --text-color: #f9f6eed4;
  --secondary-color: #2b2b2b;
}

main{
  text-align: center;
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  padding: 100px;
}

.login-container{
  background-color: var(--principal-color);
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 6px 5px 5px var(--principal-color);
  padding: 20px;
}

h2{
  color:var(--text-color);
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

form{
  display: flex;
  flex-direction: column;
  padding: 30px 50px 20px 50px;
}

input[type="text"]{
  margin-bottom: 30px;
  padding: 10px;
}

input[type="password"]{
  margin-bottom: 30px;
  padding: 10px;
}

input[name="re-password"]{
  margin-bottom: 40px;
}

.checkbox-container{
  display: flex;
  gap: 10px;
 
  margin-bottom: 20px;
}

.checkbox-container label{
  color: var(--text-color);
  font-size: 0.7em;
}

input[type="submit"]{
  border-color: var(--accent-color);
  border-radius: 5px;
  text-align: center;
  color: var(--principal-color);
  padding: 5px;
}

.login-container a{
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 1025px){

  main{
    padding: 70px;
  }

  .login-container{
    width: 60%;
  }

  form{
    padding: 30px 70px 30px 70px;
  }
  
}

@media (min-width: 577px) and (max-width: 1024px){

  main{
    padding: 70px;
  }

  .login-container{
    width: 60%;
  }
} 