:root{
  --principal-color: #090808;
  --accent-color: #FF0000;
  --text-color: #F9F6EE;
  --secondary-color: #2b2b2b;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url();
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.links{
  color: var(--text-color);
}

header, footer{
  width: 100%;
  background-color: var(--principal-color);
  font-family: "Raleway";
}

header img{
  width: 200px;
  display: inline-block;
}

img[alt="menu"]{
  display: inline-block;
  width: 35px;
  position: fixed;
  right: 0;
  top: 10px;
  margin-right: 20px;

}

header nav{
  display: none;
  text-align: center; 
  height: 100%;
  width: 70%;
  position: fixed;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--secondary-color);

}

.nav-visible{
  display: block;
}

#btn-menu, #btn-close{
  cursor: pointer;
}

#btn-close{
  position: fixed;
  right: 0;
  padding: 15px 20px;
  width: fit-content;
  transform: translateX(15%);
}

#btn-close img{
  width: 50px;
}

header nav ul{
  list-style: none;
  padding-top: 80px;
  
}

header nav ul li{
  padding: 10px;

}

header nav ul li a{
  font-size: 2em;
  text-decoration: none;
}

header nav ul li a:hover{
  color: var(--accent-color);
  font-weight: bold;
}

header nav ul li:last-child{
  padding-bottom: 60px;
}

header button{
  padding: 10px 50px;
  border: solid;
  border-radius: 10px;
  background-color: var(--accent-color);
  cursor: pointer;
}

header button a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3em;
}

img[alt="logo-menu"]{
 padding-top: 60px;
}

header div{
  text-align: center;
}

img[alt="lupa"]{
  width: 20px;
}

main{
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  font-family: "Raleway";
}

main h1,  main h2, main p{
  color: var(--text-color);
}

main h1{
  padding: 10px;
  text-decoration: solid;
  font-weight: 600;
  font-size: 1.2em;
}

main img{
  border-radius: 10px;
}

 h2{
  font-size: 1em;
  font-weight: 600;
  padding: 15px 0;
}

main hr{
  border-color: var(--accent-color);
  border-width: 2px;
}

main section{
  display: block;
}

article{
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

article:nth-child(odd){
  margin-bottom: 10px;
}

main img{
  width: 100%;
}

footer{
  width: 100%;
}

footer img{
  width: 60px;
  position: absolute;
  transform: translateX(30%);
  padding-top: 20px;
  
}

footer nav{
  display: inline-block;
  position: relative;
  right: 0;
}

footer nav+nav{
  position: relative;
  right: 3;
}

footer nav ul{
  list-style: none;
}

#nav-footer{
  text-align: right;
  display: inline-block;
  padding-top: 20px;
  width: 85%;
}

#nav-footer nav ul li{
  display: block;
}

#nav-footer nav{
  padding-bottom: 20px;
}

footer div{
  font-size: 0.8em;
  width: 100%;
  display: inline-block;
  text-align: center;
}

footer hr{
  border-color: var(--secondary-color);
}

footer div ul li{
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;

}

footer div ul li a{
  text-decoration: none;
  font-size: 0.7em;
}

footer div+div{
  width: 100%;
  padding-top: 15px;
  color: var(--text-color);
}

#copy p{
  font-size: 0.7em;
}

@media (min-width: 1025px){

  header nav{
    display: inline-block;
    width: 70%;
    position: initial;
    background-color: transparent;
  }

  header img{
    width: 300px;
    transform: translateY(40%);
  }

  header nav ul, header nav ul li, header nav ul li:last-child, header div{
    padding-top: 0;
    margin: 0;
    display: inline-block;
  }

  header nav ul li a{
    font-size: 1em;
  }

  img[alt="lupa"]{
    width: 27px;
  }

  #btn-menu, #btn-close{
    display: none;
  }

  img[alt="logo-menu"]{
    display: none;
  }

  main section{
    display: inline-block;
  }

  img[alt="s15"]{
    height: 400px;
    object-fit: cover;
  }

  img[alt="bugatti-tourbillon"]{
    height: 430px;
    object-fit: cover;
  }

  article img[alt="brabus-bigboy"] h2{
    padding: 0 10px;
  }  

  main h1{
    font-size: 2em;
  }

  main section article{
    display: inline-block;
    width: 40%;  
  }
  
  article:nth-child(odd){
    margin-bottom: 0;
  }
  
  main article:last-child{
    margin-bottom: 10px;
  }

  footer div ul li a{
    text-decoration: none;
    font-size: 1em;
  }

  #copy p{
    font-size: 0.9em;
  }

  footer img{
    margin-left: 200px;
    width: 100px;
  }
}