:root{
  --principal-color: #090808;
  --secondary-color: #7D7D7D;
  --accent-color: #FF0000;
  --text-color: #F9F6EE;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

.links{
  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer{
  width: 100%;
  background-color: var(--principal-color);
  font-family: "Raleway";
}

header img{
  width: 50%;
  display: inline-block;
}

img[alt="menu"]{
  display: inline-block;
  width: 10%;
  position: fixed;
  right: 0;
  top: 10px;
  margin-right: 20px;

}

header nav{
  display: none;
  text-align: center;
  height: 100%;
  width: 70%;
  position: fixed;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--secondary-color);

}

.nav-visible{
  display: block;
}

#btn-menu, #btn-close{
  cursor: pointer;
}

#btn-close{
  position: fixed;
  right: 0;
  padding-top: 15px;
  width: fit-content;
  transform: translateX(15%);
}

img[alt="logo-menu"]{
  padding-top: 30px;
}

header nav ul{
  list-style: none;
  padding-top: 80px;
  
}

header nav ul li{
  padding: 10px;

}

header nav ul li a{
  font-size: 2em;
}

header nav ul li a:hover{
  color: var(--accent-color);
  font-weight: bold;

}

header div{
  text-align: center;

}

img[alt="lupa"]{
  width: 5%;
}

main{
  width: 100%;
}

footer{
  width: 100%;
  font-size: 1em;
}

footer img{
  width: 20%;
  display: inline-block;
  position: absolute;
  transform: translateX(30%);
  padding-top: 20px;
  
}

footer nav{
  display: inline-block;
  position: relative;
  right: 0;
}

footer nav+nav{
  position: relative;
  right: 3;
}

footer nav ul{
  list-style: none;
}

#nav-menu{
  text-align: right;
  display: inline-block;
  padding-top: 20px;
  width: 70%
}

#nav-menu nav ul li{
  display: block;
}

footer div{
  font-size: 0.8em;
  width: 100%;
  display: inline-block;
  text-align: center;
}

footer hr{
  border-color: var(--secondary-color);
}

footer div ul li{
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
}

footer div+div{
  width: 100%;
  font-size: 0.7em;
  color: var(--text-color);
}





