<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Detallat</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/article.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <!-- Header-->
      <img src="../assets/img/logo.png" alt="logo" />

      <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

      <!--Navegation bar-->
      <nav id="nav-header">
        <div id="btn-close">
          <img src="../assets/img/close-menu.png" alt="close-menu" />
        </div>
        <ul>
          <li><a class="links" href="views/home.html">Home</a></li>
          <li><a class="links" href="views/about.html">Qui som?</a></li>
          <li><a class="links" href="views/contact.html">Contact</a></li>
        </ul>
        <div>
          <button><a class="links" href="../views/login.html">Login</a></button>
        </div>

        <img src="../assets/img/logo.png" alt="logo-menu" />
      </nav>

      <img src="../assets/img/lupa.png" alt="lupa" />
    </header>

    <main>
      <div>
        <h1>Review Bugatti Tourbillon</h1>
      </div>

      <div>
        <img
          src="../assets/img/articles/bugatti-tourbillon.jpg"
          alt="bugatti-tourbillon"
        />
        <div class="info">
          <figcaption>| Sam Pons de la Fuente | 21/01/2025</figcaption>
          <img src="../assets/img/like.png" alt="like" />
        </div>
      </div>

      <section>
        <hr />
        <p>
          Quan Bugatti s’associa amb <strong>Jacob & Co.</strong>, el resultat
          és molt més que un simple rellotge: és una obra d’art mecànica que
          eleva el luxe i la innovació a un nou nivell. El Bugatti Tourbillon no
          només ret homenatge al llegat automobilístic de la marca francesa,
          sinó que també és un testimoni de l’art i la complexitat de l’alta
          rellotgeria.
        </p>

        <h2>Un Motor en Miniatura</h2>
        <img
          src="../assets/img/articles/motor-bugatti.jpg"
          alt="motor-bugatti"
        />

        <p>
          L’element central del <strong>Bugatti Tourbillon</strong> és el seu
          mecanisme que emula un motor W16 en miniatura, el mateix que impulsa
          el llegendari <strong>Bugatti Chiron</strong>. En prémer un botó, el
          motor cobra vida: els pistons pugen i baixen de manera sincronitzada
          mentre el cigonyal —fabricat a partir d’una sola peça d’acer— gira amb
          precisió. Aquest espectacle mecànic no té rival en el món dels
          rellotges i converteix el <strong>Bugatti Tourbillon</strong>en un
          espectacle visual únic.
        </p>

        <h2>Disseny que Respira Automoció</h2>

        <p>
          El disseny del rellotge s’inspira en els superesportius de
          <strong>Bugatti</strong>. La caixa està construïda amb materials
          d’alta gamma com el <strong>titani</strong> o el
          <strong>safir</strong>, depenent de l’edició, i la seva forma
          <strong>aerodinàmica</strong> recorda els contorns d’un cotxe
          esportiu. Fins i tot els detalls més petits, com els amortidors que
          subjecten el mecanisme dins de la caixa, simulen el sistema de
          suspensió d’un vehicle real.
        </p>

        <h2>Exclusivitat i Preu</h2>

        <p>
          Com era d’esperar, aquesta peça no és per a totes les butxaques. Amb
          preus que oscil·len entre els <strong>280.000 $</strong> i més d’1
          milió de dòlars, depenent de l’edició i els materials, el
          <strong>Bugatti Tourbillon</strong> és una declaració d’estatus i bon
          gust. La seva producció limitada assegura que només uns quants
          afortunats puguin lluir aquesta joia al canell.
        </p>

        <h2>Conclusió</h2>

        <p>
          El <strong>Bugatti Tourbillon</strong> és molt més que un rellotge: és
          una experiència, una celebració de la mecànica i un tribut al llegat
          automobilístic de <strong>Bugatti</strong>. Tot i que el seu preu el
          situa fora de l’abast de la majoria, per aquells que busquen
          l’extraordinari, aquest rellotge és l’epítom del luxe i la innovació.
        </p>
        <hr />
      </section>
    </main>

    <footer>
      <!-- Footer-->

      <!--Nav-->
      <div id="nav-footer">
        <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

        <nav>
          <ul>
            <li><a class="links" href="views/home.html">Home</a></li>
            <li><a class="links" href="views/about.html">Qui som?</a></li>
            <li><a class="links" href="views/contact.html">Contact</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a class="links" href="#">Facebook</a></li>
            <li><a class="links" href="#">Instagram</a></li>
            <li><a class="links" href="#">Twitter</a></li>
          </ul>
        </nav>
      </div>
      <hr />
      <div id="footer-terms">
        <nav>
          <ul>
            <li><a class="links" href="#">Terms & Conditions</a></li>
            <li><a class="links" href="#">Privacy Policy</a></li>
            <li><a class="links" href="#">Cookie Policy</a></li>
          </ul>
        </nav>
      </div>
      <!--CC-->
      <div id="copy">
        <p>© 2024 TurboTalks. All rights reserved.</p>
      </div>
    </footer>
    <script src="../js/index.js"></script>
  </body>
</html>
