<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Detallat</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/article.css">
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">

</head>
<body>
    <header>
        <!-- Header-->
        <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
        
        <img id="btn-menu" src="../assets/img/menu.png" alt="menu">
    
         <!--Navegation bar-->
       <nav id="nav-header">
        <div id="btn-close">
          <img src="../assets/img/close-menu.png" alt="close-menu">
        </div>
          <ul>
            <li><a class="links" href="views/home.html">Home</a></li>
            <li><a class="links" href="views/about.html">Qui som?</a></li>
            <li><a class="links" href="views/contact.html">Contact</a></li>
          </ul>
          <div>
            <button><a class="links" href="./views/login.html">Login</a></button>
          </div>
    
          <img src="../assets/img/logo.png" alt="logo-menu">
        </nav>
      
        <div>
          <img src="../assets/img/lupa.png" alt="lupa">
        </div>
      </header>

      <main>
        <div>
            <h1>Review Bugatti Tourbillon</h1>
        </div>
      
        <div>
            <img src="../assets/img/articles/audi-r8.jpg" alt="audi-r8">
            <div class="info">
              <figcaption>| Sam Pons de la Fuente | 21/01/2025</figcaption>
              <img src="../assets/img/like.png" alt="like">
            </div>    
        </div>

        <section>
          <hr>
            <p>L'Audi R8 és un dels superesportius més reconeguts del món, una combinació perfecta de tecnologia avançada, luxe i potència desbordant. Des del seu debut el 2006, aquest model ha estat un emblema de la marca alemanya, destacant per un disseny icònic i un rendiment capaç de competir amb els millors del sector. Tant si es tracta de la carretera com de la pista, l'Audi R8 ofereix una experiència única que captiva tots els sentits.</p>

            <h2>Motor i Rendiment: Una Simfonia V10</h2>
            <img src="../assets/img/articles/motor-r8.jpg" alt="motor-r8">

            <p>El cor de l'Audi R8 és el seu motor atmosfèric V10 de 5.2 litres, una joia mecànica que ofereix una potència que oscil·la entre els 570 i els 620 cavalls, segons la versió. Aquesta potència permet accelerar de 0 a 100 km/h en només 3,1 segons (versió Performance) i aconseguir una velocitat màxima de més de 330 km/h.</p>

            <p> El motor, situat al mig, no només ofereix un rendiment brutal, sinó també una simfonia de so que fa posar la pell de gallina. A més, l'R8 està equipat amb el sistema de tracció total Quattro, que distribueix la potència a totes les rodes per garantir una adherència i estabilitat excepcionals, independentment de les condicions de la carretera.</p>

            <h2>Interior: Luxe Minimalista i Tecnologia a l’Abast</h2>

            <p>A l’interior, l'Audi R8 ofereix un entorn dissenyat per al conductor. El volant multifunció amb controls integrats i les lleves de canvi permeten mantenir les mans sempre al lloc correcte. L’habitacle combina materials premium com cuir, Alcantara i fibra de carboni, oferint un ambient d’alt nivell.</p>

            <h2>Preu i Competidors</h2>

            <p>L’Audi R8 té un preu base que ronda els 200.000 euros, posicionant-se com una alternativa més assequible a superesportius com el Lamborghini Huracán (amb qui comparteix plataforma) o el Ferrari F8 Tributo. Tot i això, ofereix una experiència de conducció igualment emocionant, combinada amb la qualitat i fiabilitat típiques d’Audi.</p>

            <h2>Conclusió</h2>

            <p>L’Audi R8 és un superesportiu que combina el millor dels dos mons: rendiment d’alt nivell i un disseny que exhala luxe i elegància. És un cotxe que pot fer-te somriure tant a la carretera com a la pista, gràcies al seu motor V10, la seva tecnologia avançada i la seva conducció refinada. Si busques un superesportiu que sigui tan funcional com espectacular, l'Audi R8 és una opció pràcticament imbatible.</p>
            <hr>
        </section>

      </main>

      <footer>
        <!-- Footer-->
        <img src="../assets/img/logo-simple.png" alt="logo-reduit">
    
        <!--Nav-->
        <div id="nav-footer">
          <nav>
            <ul>
              <li><a class="links" href="views/home.html">Home</a></li>
              <li><a class="links" href="views/about.html">Qui som?</a></li>
              <li><a class="links" href="views/contact.html">Contact</a></li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li><a class="links" href="#">Facebook</a></li>
              <li><a class="links" href="#">Instagram</a></li>
              <li><a class="links" href="#">Twitter</a></li>
            </ul>
          </nav>
        </div>
        <hr>
        <div id="footer-terms">
          <nav>
            <ul>
              <li><a class="links" href="#">Terms & Conditions</a></li>
              <li><a class="links" href="#">Privacy Policy</a></li>
              <li><a class="links" href="#">Cookie Policy</a></li>
            </ul>
          </nav>
        </div>
        <!--CC-->
        <div id="copy">
          <p>© 2024 TurboTalks. All rights reserved.</p>
        </div>
      </footer>
      <script src="../js/index.js"></script>
</body>
</html>