<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Article Detallat</title>
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/article.css" />
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" />
</head>

<body>
  <header>
    <!-- Header-->
    <img src="../assets/img/logo.png" alt="logo" />

    <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

    <!--Navegation bar-->
    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/close-menu.png" alt="close-menu" />
      </div>
      <ul>
        <li><a class="links">Home</a></li>
        <hr class="links__separators">
        <li><a class="links">About</a></li>
        <hr class="links__separators">
        <li><a class="links">Contact</a></li>
        <hr class="links__separators">
      </ul>
      <div>
        <button id="login-id"><a>Login</a></button>
        <img src="../assets/img/logout.svg" alt="logout">
      </div>

      <img src="../assets/img/logo.png" alt="logo-menu" />
    </nav>

    <img src="../assets/img/lupa.png" alt="lupa" />
  </header>

  <main>
    <div>
      <h1>Review Bugatti Tourbillon</h1>
    </div>

    <div>
      <img src="../assets/img/articles/s15.jpg" alt="nissan-s15" />
      <div class="info">
        <figcaption>| Sam Pons de la Fuente | 21/01/2025</figcaption>
        <img src="../assets/img/like.png" alt="like" />
      </div>
    </div>

    <section>
      <hr />
      <p>
        El Nissan Silvia S15 és un dels esportius japonesos més icònics de
        tots els temps. Produït entre 1999 i 2002, aquest coupé compacte es va
        convertir ràpidament en una referència al món del drift i de la
        personalització. Amb un disseny elegant, un motor potent i un
        equilibri excel·lent, l’S15 continua sent molt valorat per entusiastes
        de tot el món, fins i tot dècades després del final de la seva
        producció.
      </p>

      <h2>Motor i Rendiment: El Cor del Drift</h2>
      <img src="../assets/img/articles/motor-s15.jpg" alt="motor-s15" />

      <p>
        El Nissan Silvia S15 ve equipat amb el llegendari motor SR20DET, un
        motor de quatre cilindres turboalimentat de 2.0 litres. Amb una
        potència de fins a 250 CV a la versió Spec-R, aquest motor ofereix una
        resposta contundent i una excel·lent capacitat de modificació. L’S15
        també estava disponible amb motors atmosfèrics menys potents, com el
        SR20DE, que oferien una opció més assequible però amb menys
        prestacions.
      </p>

      <h2>Conducció: Precisió i Diversió</h2>

      <p>
        El Silvia S15 ofereix una experiència de conducció pura i connectada.
        La seva suspensió, ben afinada per a l’època, proporciona un equilibri
        perfecte entre comoditat i esportivitat. El volant lleuger i precís fa
        que sigui fàcil de maniobrar tant a carretera com a circuit. És un
        cotxe que premia les habilitats del conductor, convertint-lo en una
        plataforma ideal per a pilots que vulguin millorar la seva tècnica.
      </p>

      <h2>Exclusivitat i Valor Actual</h2>

      <p>
        Després del final de la producció el 2002, el Nissan Silvia S15 s’ha
        convertit en un clàssic desitjat. Les restriccions d’importació a
        diversos països, inclosos els Estats Units, han augmentat encara més
        el seu valor i exclusivitat. Les versions ben mantingudes,
        especialment el model Spec-R, poden arribar a preus molt elevats,
        reflectint la seva popularitat duradora.
      </p>

      <h2>Conclusió</h2>

      <p>
        El Nissan Silvia S15 és molt més que un cotxe esportiu dels anys 90:
        és una llegenda que continua captivant generacions. Amb un disseny
        atemporal, un motor emblemàtic i una conducció excepcional, l’S15 és
        l’encarnació de la filosofia japonesa de crear cotxes accessibles però
        amb un gran potencial. Ja sigui per al drift, per col·lecció o
        simplement per gaudir de la carretera, el Silvia S15 sempre serà una
        joia al món de l’automoció.
      </p>
      <hr />
    </section>
  </main>

  <footer>
    <!-- Footer-->

    <!--Nav-->
    <div id="nav-footer">
      <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

      <nav>
        <ul>
          <li><a class="links">Home</a></li>
          <li><a class="links">Qui som?</a></li>
          <li><a class="links">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a class="links" href="#">Facebook</a></li>
          <li><a class="links" href="#">Instagram</a></li>
          <li><a class="links" href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <div id="footer-terms">
      <nav>
        <ul>
          <li><a class="links" href="#">Terms & Conditions</a></li>
          <li><a class="links" href="#">Privacy Policy</a></li>
          <li><a class="links" href="#">Cookie Policy</a></li>
        </ul>
      </nav>
    </div>
    <!--CC-->
    <div id="copy">
      <p>© 2024 TurboTalks. All rights reserved.</p>
    </div>
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>