<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Article Detallat</title>
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/article.css" />
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" />
</head>

<body>
  <header>
    <!-- Header-->
    <img src="../assets/img/logo.png" alt="logo" />

    <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

    <!--Navegation bar-->
    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/close-menu.png" alt="close-menu" />
      </div>
      <ul>
        <li><a class="links">Home</a></li>
        <hr class="links__separators">
        <li><a class="links">About</a></li>
        <hr class="links__separators">
        <li><a class="links">Contact</a></li>
        <hr class="links__separators">
      </ul>
      <div>
        <button id="login-id"><a>Login</a></button>
        <img src="../assets/img/logout.svg" alt="logout">
      </div>

      <img src="../assets/img/logo.png" alt="logo-menu" />
    </nav>

    <img src="../assets/img/lupa.png" alt="lupa" />
  </header>

  <main>
    <div>
      <h1>Review Bugatti Tourbillon</h1>
    </div>

    <div>
      <img src="../assets/img/articles/p1.JPG" alt="mclaren-p1" />
      <div class="info">
        <figcaption>| Sam Pons de la Fuente | 21/01/2025</figcaption>
        <img src="../assets/img/like.png" alt="like" />
      </div>
    </div>

    <section>
      <hr />
      <p>
        El McLaren P1 no és només un cotxe, és una obra mestra tecnològica que
        va marcar un abans i un després al món dels hipercotxes. Des de la
        seva presentació el 2013, aquest híbrid britànic ha destacat per
        combinar una enginyeria avançada amb un disseny que sembla extret d’un
        videojoc futurista. Limitat a només 375 unitats, el P1 és l’encarnació
        de la filosofia de McLaren: oferir el millor cotxe per a la pista,
        però totalment funcional a la carretera..
      </p>

      <h2>Motor i Rendiment: La Simbiosi de Gasolina i Electricitat</h2>
      <img src="../assets/img/articles/mtor-p1.jpg" alt="motor-p1" />

      <p>
        El cor del McLaren P1 és una combinació impressionant d’un motor V8
        biturbo de 3.8 litres i un motor elèctric. Junts generen una potència
        combinada de 903 cavalls i 900 Nm de parell, permetent una acceleració
        de 0 a 100 km/h en només 2,8 segons. La velocitat màxima està limitada
        electrònicament a 350 km/h. Gràcies al sistema híbrid, el P1 també pot
        funcionar en mode 100% elèctric durant uns 10 km, ideal per a moure’s
        per zones urbanes amb zero emissions.
      </p>

      <h2>Interior: Minimalista però Enfocat al Rendiment</h2>

      <p>
        L’habitacle del McLaren P1 és un santuari per als amants de la
        conducció pura. Els seients esportius estan optimitzats per a oferir
        suport en corbes tancades, però sense sacrificar la comoditat en
        trajectes més llargs. El disseny és minimalista, amb un ús extensiu de
        fibra de carboni, mantenint el focus en el conductor. El quadre de
        comandaments digital ofereix informació clara i personalitzada,
        especialment quan es canvia al mode pista, on prioritza dades com la
        velocitat i les revolucions.
      </p>

      <h2>Exclusivitat i Preu</h2>

      <p>
        Amb només 375 unitats produïdes, el McLaren P1 és un dels cotxes més
        exclusius del món. El seu preu original rondava els 1,15 milions
        d’euros, però al mercat de segona mà els preus han augmentat
        considerablement, convertint-lo en una peça de col·lecció molt
        buscada.
      </p>

      <h2>Conclusió</h2>

      <p>
        El McLaren P1 és molt més que un cotxe híbrid; és una declaració de
        com la tecnologia pot elevar la conducció a un nivell completament
        nou. Amb un disseny espectacular, un rendiment híbrid revolucionari i
        una conducció enfocada a la pista, el P1 ha deixat una empremta
        indeleble a la història dels hipercotxes. Si el McLaren F1 va establir
        el llistó als anys 90, el P1 va ser l’encarregat d’elevar-lo al segle
        XXI.
      </p>
      <hr />
    </section>
  </main>

  <footer>
    <!-- Footer-->

    <!--Nav-->
    <div id="nav-footer">
      <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

      <nav>
        <ul>
          <li><a class="links">Home</a></li>
          <li><a class="links">Qui som?</a></li>
          <li><a class="links">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a class="links" href="#">Facebook</a></li>
          <li><a class="links" href="#">Instagram</a></li>
          <li><a class="links" href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <div id="footer-terms">
      <nav>
        <ul>
          <li><a class="links" href="#">Terms & Conditions</a></li>
          <li><a class="links" href="#">Privacy Policy</a></li>
          <li><a class="links" href="#">Cookie Policy</a></li>
        </ul>
      </nav>
    </div>
    <!--CC-->
    <div id="copy">
      <p>© 2024 TurboTalks. All rights reserved.</p>
    </div>
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>