<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Article Detallat</title>
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/article.css" />
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" />
</head>

<body id = "gtr">
  <header>
    <!-- Header-->
    <img src="../assets/img/logo.png" alt="logo" />

    <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

    <!--Navegation bar-->
    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/close-menu.png" alt="close-menu" />
      </div>
      <ul>
        <li><a class="links">Home</a></li>
        <hr class="links__separators">
        <li><a class="links">About</a></li>
        <hr class="links__separators">
        <li><a class="links">Contact</a></li>
        <hr class="links__separators">
      </ul>
      <div>
        <button id="login-id"><a>Login</a></button>
        <img src="../assets/img/logout.svg" alt="logout">
      </div>

      <img src="../assets/img/logo.png" alt="logo-menu" />
    </nav>

    <img src="../assets/img/lupa.png" alt="lupa" />
  </header>

  <main>
    <div>
      <h1>Review Bugatti Tourbillon</h1>
    </div>

    <div>
      <img src="../assets/img/articles/nissan-gtr.jpg" alt="nissan-gtr" />
      <div class="info">
        <figcaption>| Sam Pons de la Fuente | 21/01/2025</figcaption>
        <div class="info__like-container">
          <p>0</p>
          <img src="../assets/img/like.png" alt="like"/>
          <img src="../assets/img/heart-filled.png" alt="liked">
        </div>
      </div>
    </div>

    <section>
      <hr />
      <p>
        Des del seu debut el 2007, el Nissan GT-R ha captivat els amants dels
        cotxes esportius amb la seva combinació de tecnologia avançada,
        disseny agressiu i un rendiment capaç de desafiar marques molt més
        cares. Conegut amb el sobrenom de "Godzilla" per la seva capacitat de
        dominar tant a les pistes com als carrers, aquest vehicle icònic
        segueix sent una referència al món de l’automoció. A continuació,
        analitzem tot el que fa especial el Nissan GT-R.
      </p>

      <h2>Motor i Rendiment: La Bèstia sota el Capó</h2>
      <img src="../assets/img/articles/motor-nissan.jpg" alt="motor-gtr" />

      <p>
        El cor del Nissan GT-R és el seu llegendari motor V6 biturbo de 3.8
        litres, muntat a mà pels enginyers "Takumi" al Japó. Genera 565
        cavalls de potència (600 CV a la versió NISMO) i un parell de 467 Nm,
        cosa que permet al GT-R accelerar de 0 a 100 km/h en només 2,9 segons.
        Tot aquest poder es transmet a les quatre rodes mitjançant un sistema
        de tracció integral avançat i una transmissió automàtica de doble
        embragatge amb 6 velocitats, garantint un maneig precís fins i tot en
        les condicions més exigents.
      </p>

      <h2>Interior: Minimalisme amb Toques de Luxe</h2>

      <p>
        A l’interior, el GT-R combina practicitat amb luxe. Els seients
        esportius entapissats en cuir ofereixen un excel·lent suport per a una
        conducció agressiva, mentre que els materials d’alta qualitat, com la
        fibra de carboni i l’alumini, s’integren perfectament al disseny de
        l’habitacle. La consola central acull una pantalla tàctil amb
        múltiples configuracions que permeten monitoritzar el rendiment del
        vehicle, com la pressió del turbo, la força G i més. Tot i que és un
        cotxe esportiu, ofereix prou comoditat per a viatges llargs, encara
        que els seients del darrere són més simbòlics que pràctics.
      </p>

      <h2>Preu i Competidors</h2>

      <p>
        El Nissan GT-R té un preu base que ronda els 115.000 dòlars, cosa que
        el posiciona com una alternativa més assequible davant de
        superesportius europeus com el Porsche 911 Turbo, l’Audi R8 i el
        McLaren 570S. Tot i això, el que realment el distingeix és la seva
        relació qualitat-preu, ja que ofereix un rendiment similar per una
        fracció del cost.
      </p>

      <h2>Conclusió</h2>

      <p>
        El Nissan GT-R és més que un cotxe esportiu: és una icona. La seva
        combinació de potència bruta, conducció sofisticada i un disseny que
        segueix sent rellevant després de més d’una dècada el converteixen en
        una opció obligada per a qualsevol entusiasta dels cotxes. Tot i que
        no sigui el més modern en tecnologia o luxe, el seu llegat i la seva
        capacitat per competir amb models més nous el consoliden com una
        llegenda viva al món de l’automoció.
      </p>
      <hr />
    </section>
  </main>

  <footer>
    <!-- Footer-->

    <!--Nav-->
    <div id="nav-footer">
      <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

      <nav>
        <ul>
          <li><a class="links">Home</a></li>
          <li><a class="links">Qui som?</a></li>
          <li><a class="links">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a class="links" href="#">Facebook</a></li>
          <li><a class="links" href="#">Instagram</a></li>
          <li><a class="links" href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <div id="footer-terms">
      <nav>
        <ul>
          <li><a class="links" href="#">Terms & Conditions</a></li>
          <li><a class="links" href="#">Privacy Policy</a></li>
          <li><a class="links" href="#">Cookie Policy</a></li>
        </ul>
      </nav>
    </div>
    <!--CC-->
    <div id="copy">
      <p>© 2024 TurboTalks. All rights reserved.</p>
    </div>
  </footer>
  <script src="../js/common.js"></script>
  <script src="../js/article.js"></script>
</body>

</html>