<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Article Detallat</title>
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/article.css" />
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" />
</head>

<body id = "brabus">
  <header>
    <!-- Header-->
    <img src="../assets/img/logo.png" alt="logo" />

    <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

    <!--Navegation bar-->
    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/close-menu.png" alt="close-menu" />
      </div>
      <ul>
        <li><a class="links">Home</a></li>
        <hr class="links__separators">
        <li><a class="links">About</a></li>
        <hr class="links__separators">
        <li><a class="links">Contact</a></li>
        <hr class="links__separators">
      </ul>
      <div>
        <button id="login-id"><a>Login</a></button>
        <img src="../assets/img/logout.svg" alt="logout">
      </div>

      <img src="../assets/img/logo.png" alt="logo-menu" />
    </nav>

    <img src="../assets/img/lupa.png" alt="lupa" />
  </header>

  <main>
    <div>
      <h1>Review Brabus BigBoy</h1>
    </div>

    <div>
      <img src="../assets/img/articles/brabus-bigboy.jpg" alt="brabus-bigboy" />
      <div class="info">
        <figcaption>| Sam Pons de la Fuente | 22/01/2025</figcaption>
        <div class="info__like-container">
          <p>0</p>
          <img src="../assets/img/like.png" alt="like"/>
          <img src="../assets/img/heart-filled.png" alt="liked">
        </div>
      </div>
    </div>

    <section>
      <hr />
      <p>
        Quan es parla de Brabus, és impossible no pensar en luxosos i potents
        automòbils basats en models de Mercedes-Benz. Tanmateix, la marca ha
        fet un salt cap a un nou segment: la mobilitat elèctrica urbana. El
        Brabus BigBoy no és només una moto elèctrica; és una declaració
        d’estil i sofisticació per als entorns urbans moderns. Aquí et
        presentem una anàlisi detallada d’aquest impressionant vehicle.
      </p>

      <h2>Disseny: Minimalisme Futurista</h2>
      <img src="../assets/img/articles/brabus-interior.jpg" alt="interior-brabus" />

      <p>
        El Brabus BigBoy destaca pel seu disseny net i avantguardista. Cada
        línia de la seva estructura està acuradament dissenyada per oferir una
        estètica minimalista que no passa desapercebuda. Els materials d’alta
        qualitat utilitzats en la seva construcció, com els acabats metàl·lics
        i els detalls de cuir premium al seient, subratllen el compromís de la
        marca amb l’excel·lència.
      </p>

      <h2>Rendiment: Potència Urbana</h2>

      <p>
        Equipat amb un motor elèctric d’alt rendiment, el Brabus BigBoy
        ofereix una acceleració suau però contundent, ideal per a les
        exigències del trànsit urbà. Tot i que la velocitat màxima està
        optimitzada per a entorns urbans, es troba en el rang superior dels
        scooters elèctrics de luxe.
      </p>

      <h2>Tecnologia: Innovació al Servei del Conductor</h2>

      <p>
        El BigBoy està equipat amb una pantalla digital avançada que
        proporciona informació essencial com velocitat, nivell de bateria i
        autonomia. A més, algunes versions ofereixen connectivitat amb
        smartphones, permetent funcions com navegació GPS i diagnòstic en
        temps real.
      </p>

      <h2>Conclusió</h2>

      <p>
        El Brabus BigBoy redefineix el concepte de mobilitat urbana en
        combinar disseny, tecnologia i rendiment en un paquet sofisticat. És
        una elecció perfecta per a aquells que volen destacar i gaudir d’un
        vehicle que no només compleix amb la seva funció, sinó que també eleva
        l’estil de vida del seu propietari.
      </p>
      <hr />
    </section>
  </main>

  <footer>
    <!-- Footer-->

    <!--Nav-->
    <div id="nav-footer">
      <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

      <nav>
        <ul>
          <li><a class="links">Home</a></li>
          <li><a class="links">Qui som?</a></li>
          <li><a class="links">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a class="links" href="#">Facebook</a></li>
          <li><a class="links" href="#">Instagram</a></li>
          <li><a class="links" href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <div id="footer-terms">
      <nav>
        <ul>
          <li><a class="links" href="#">Terms & Conditions</a></li>
          <li><a class="links" href="#">Privacy Policy</a></li>
          <li><a class="links" href="#">Cookie Policy</a></li>
        </ul>
      </nav>
    </div>
    <!--CC-->
    <div id="copy">
      <p>© 2024 TurboTalks. All rights reserved.</p>
    </div>
  </footer>
  <script src="../js/common.js"></script>
  <script src="../js/article.js"></script>
</body>

</html>