<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/signup.css" />

  <title>TurboTalks</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" />
</head>

<body>
  <header>
    <!-- Header-->
    <img src="../assets/img/logo.png" alt="logo" />

    <img id="btn-menu" src="../assets/img/menu.png" alt="menu" />

    <!--Navegation bar-->
    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/close-menu.png" alt="close-menu" />
      </div>
      <ul>
        <li><a class="links">Home</a></li>
        <hr class="links__separators">
        <li><a class="links">About</a></li>
        <hr class="links__separators">
        <li><a class="links">Contact</a></li>
        <hr class="links__separators">
      </ul>
      <div>
        <button id="login-id"><a>Login</a></button>
        <img src="../assets/img/logout.svg" alt="logout">
      </div>

      <img src="../assets/img/logo.png" alt="logo-menu" />
    </nav>

    <img src="../assets/img/lupa.png" alt="lupa" />
  </header>

  <main>
    <div class="signup-container">
      <h2>Sign Up</h2>
      <hr>
      <form id="formSignup-id">
        <div class="input-container">
          <input type="text" name="user" id="username-id" placeholder="Username" required>
          <p>Longitud mínima de 4 caràcters</p>
          <p>Usuari disponible</p>
          <img src="../assets/img/check-form.svg" alt="camp-validat">
        </div>
        <div class="input-container">
          <input type="password" name="password" id="password-id" placeholder="Password" required>
          <div id="passwordStrength-id"></div>
          <p>Longitud mínima de 6 caràcters</p>
          <p>Ha de contenir 1 mayuscula</p>
          <img src="../assets/img/check-form.svg" alt="camp-validat">
        </div>
        <div class="input-container">
          <input type="password" name="re-password" id="repassword-id" placeholder="Re-Password" required>
          <p>Ha de coincidir amb la teva contrasenya</p>
          <img src="../assets/img/check-form.svg" alt="camp-validat">
        </div>
        <div class="checkbox-container">
          <input type="checkbox" name="politica" id="politica-id" required>
          <label for="politica">Acceptar les Polítiques de Privacitat*</label>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" name="admin" id="admin-id">
          <label for="admin">Editor</label>
        </div>
        <input type="submit" id="submit-id" value="Sign Up">
      </form>
      <a id="login">LogIn</a>
    </div>

    <div class="signup_successful">
      <img class="signup_successful__image" src="../assets/img/check-circle-fill.svg" alt="cercle-fill">
      <div class="signup_successful__text-container">
        <h2 class="signup_successful__heading">¡Registre exitos!</h2>
        <p class="signup_successful__paragraph">La teva compte s'ha creat correctament</p>
      </div>
      <button class="signup_successful__button">LogIn</button>
    </div>
  </main>

  <footer>
    <!-- Footer-->

    <!--Nav-->
    <div id="nav-footer">
      <img src="../assets/img/logo-simple.png" alt="logo-reduit" />

      <nav>
        <ul>
          <li><a class="links">Home</a></li>
          <li><a class="links">Qui som?</a></li>
          <li><a class="links">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a class="links" href="#">Facebook</a></li>
          <li><a class="links" href="#">Instagram</a></li>
          <li><a class="links" href="#">Twitter</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <div id="footer-terms">
      <nav>
        <ul>
          <li><a class="links" href="#">Terms & Conditions</a></li>
          <li><a class="links" href="#">Privacy Policy</a></li>
          <li><a class="links" href="#">Cookie Policy</a></li>
        </ul>
      </nav>
    </div>
    <!--CC-->
    <div id="copy">
      <p>© 2024 TurboTalks. All rights reserved.</p>
    </div>
  </footer>

  <script src="../js/index.js"></script>
  <script src="../js/signup.js"></script>
</body>

</html>